<% content_for :title do %>
    <title>Цена золота 585 и 750 пробы в Казахстане сегодня
        <%= @today.strftime("%d-%m-%Y")%>
    </title>
    <meta name="description" content="Сколько сегодня стоит 1 грамм золота в тенге. Цены в ломбардах Казахстана. Узнайте цену на золото 583, 585, 750, 850, 900, 916 пробы.">
    <% end %>
        <% content_for :h1_block do %>
            <h1>Цена 1 грамма золота в <%= @metatag[:meta_country].first %></h1>
            <p>Цена 1 тройской унции (
                <%= @price.fetch('gold_value')%> USD) и курс доллара (
                    <%= @price.fetch('currency') %>
                        <%= @current_url %>).</p>
            <span> Сегодня <%= @today.strftime("%d-%m-%Y")%>: </span>
            <hr>
            <% end %>
                <div id="counter" class="group">
                    <span>585<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.585") %><em>тенге</em></span>
                </div>
                <div id="counter" class="group">
                    <span>750<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.75")%><em>тенге</em></span>
                </div>
                <div>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- gold_lombardo_adapt -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9597720483588091" data-ad-slot="4317989788" data-ad-format="auto"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
                <div id="counter" class="group">
                    <span>375<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.375") %><em>тенге</em></span>
                </div>
                <div id="counter" class="group">
                    <span>916<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.916") %> <em>тенге</em></span>
                </div>
                <div id="counter" class="group">
                    <span>999<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.999") %><em>тенге</em></span>
                </div>