
               <div id="counter" class="group">
                  <span>585<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.585") %><em>тенге</em></span>                  
               </div>   
               <div id="counter" class="group">
                  <span>750<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.75")%><em>тенге</em></span>                 
               </div>
               <div>
               <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- gold_lombardo_adapt -->
               <ins class="adsbygoogle"
                 style="display:block"
                data-ad-client="ca-pub-9597720483588091"
                data-ad-slot="4317989788"
                data-ad-format="auto"></ins>
               <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
               </script>
               </div>
               <div id="counter" class="group">
                  <span>375<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.375") %><em>тенге</em></span>                 
               </div> 
               <div id="counter" class="group">
                  <span>916<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.916") %> <em>тенге</em></span>                 
               </div> 
               <div id="counter" class="group">
                  <span>999<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.999") %><em>тенге</em></span>                 
               </div>        
               
          