<% content_for :title do %>
    <title>Цена золота 585 и 750 пробы в Казахстане сегодня
        <%= @today.strftime("%d-%m-%Y")%>
    </title>
    <meta name="description" content="Сколько сегодня стоит 1 грамм золота в тенге. Цены в ломбардах Казахстана. Узнайте цену на золото 583, 585, 750, 850, 900, 916 пробы.">
    <% end %>
        <% content_for :h1_block do %>
            <h1><%= @metatag[:h1_text].first%> </h1>        
            <p> <%= @metatag[:h1_today].first %> <%= @today.strftime("%d-%m-%Y")%>. <%= @metatag[:h1_goldprice].first %> - (
                <%= @price.fetch('gold_value')%> USD). <%= @metatag[:h1_usd].first %> - (
                    <%= @price.fetch('currency') %>
                        <%= @url %>). <%= @metatag[:h1_price].first %>  </p>

        <h2>Цена 1 грамма золота в <%= @metatag[:meta_country].first %></h2>               
            <p>Сегодня <%= @today.strftime("%d-%m-%Y")%>. Цена 1 тройской унции (
                <%= @price.fetch('gold_value')%> USD) и курс доллара (
                    <%= @price.fetch('currency') %>
                        <%= @url %>). Все цены указаны в <%= @metatag[:meta_currency].first %> </p>
            
            <hr>
            <% end %>
                <div id="counter" class="group">
                    <span>585<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.585") %><em>тенге</em></span>
                </div>
                <div id="counter" class="group">
                    <span>750<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.75")%><em>тенге</em></span>
                </div>
                <div>
                    
                    <!-- gold_lombardo_adapt -->
                    
                </div>
                <div id="counter" class="group">
                    <span>375<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.375") %><em>тенге</em></span>
                </div>
                <div id="counter" class="group">
                    <span>916<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.916") %> <em>тенге</em></span>
                </div>
                <div id="counter" class="group">
                    <span>999<em>проба</em></span>
                    <span><em>-</em></span>
                    <span><%= @price.fetch("0.999") %><em>тенге</em></span>
                </div>