<% content_for :title do %>
<title>Цена золота 585 и 750 пробы в Казахстане сегодня
<%= @today.strftime("%d-%m-%Y")%>
</title>
<meta name="description" content="Сколько сегодня стоит 1 грамм золота в тенге. Цены в ломбардах Казахстана. Узнайте цену на золото 583, 585, 750, 850, 900, 916 пробы.">
<% end %>
<% content_for :h1_block do %>
<h1><%= @metatag[:h1_text].first%> </h1>
<p> <%= @metatag[:h1_today].first %> <%= @today.strftime("%d-%m-%Y")%>. <%= @metatag[:h1_goldprice].first %> - (
    <%= @price_index.fetch('gold_value')%> USD). <%= @metatag[:h1_usd].first %> - (
<%= @price_index.fetch('currency') %> KZT). <%= @metatag[:h1_price].first %>  </p>
<h2>Цена 1 грамма золота в <%= @metatag[:meta_country].first %></h2>
<p>Сегодня <%= @today.strftime("%d-%m-%Y")%>. Цена 1 тройской унции (
    <%= @price_index.fetch('gold_value')%> USD) и курс доллара (
<%= @price_index.fetch('currency') %> KZT). Все цены указаны в <%= @metatag[:meta_currency].first %> </p>
<hr>
<% end %>
<div id="counter" class="group">
    <span>585<em>проба</em></span>
    <span><em>-</em></span>
    <span><%= @price_index.fetch("0.585") %><em>тенге</em></span>
</div>
<div id="counter" class="group">
    <span>750<em>проба</em></span>
    <span><em>-</em></span>
    <span><%= @price_index.fetch("0.75")%><em>тенге</em></span>
</div>
<div>
    
    <!-- gold_lombardo_adapt -->
    
</div>
<div id="counter" class="group">
    <span>375<em>проба</em></span>
    <span><em>-</em></span>
    <span><%= @price_index.fetch("0.375") %><em>тенге</em></span>
</div>
<div id="counter" class="group">
    <span>916<em>проба</em></span>
    <span><em>-</em></span>
    <span><%= @price_index.fetch("0.916") %> <em>тенге</em></span>
</div>
<div id="counter" class="group">
    <span>999<em>проба</em></span>
    <span><em>-</em></span>
    <span><%= @price_index.fetch("0.999") %><em>тенге</em></span>
</div>
<% content_for :metal_menu do %>
<ul>
    <li class="silver-us"><a href="./silver/kzt" title="Цена на серебро">Цена серебра</a></li>
    <li class="about-us"><a href="https://goldnp.com/gold/kzt">Gold rate today</a></li> 
</ul>
<ul>
    <li class="silver-us"><a href="https://goldnp.com/palladium/KZT" title="Цена на palladium">Palladium</a></li>
    <li class="about-us"><a href="https://goldnp.com/platinum/KZT" title="Цена на platinum">Platinum price</a></li> 
</ul>

<ul>
    <li class="location"><a href="/allcurr">Другие страны</a></li>
    <li class="email-us"><a href="/contact">Контакт</a></li>
</ul>
<% end %>
<% content_for :useful_content do %>
<div id="blog-content">
    <p> Стоимость на золото фиксирует Лондонская биржа металлов, фиксация происходит ежедневно два раза в сутки. Фиксинг производят 5 членов золотого пула, которые за несколько минут определяют равновесную цену на золото, но фактическая цена может быть как больше, так и гораздо меньше в зависимости от человеческого фактора.
    </p>
    <p>
        Рынок золота, как и любой другой рынок, может быть рынком продавца или покупателя. В зависимости от этого цена
        золота будет в большей степени определяться либо издержками на его добычу и нормативной нормой прибыли, либо целями потребителей и их бюджетными ограничениями.
    </p>
    <p>
        Широко известно, что интерес со стороны инвесторов к золоту связан с низкой степенью корреляции доходности от
        операций с ним и доходностью иных финансовых активов, таких, как: акции.
        Продавцами на рынке золота могут выступать центральные банки, золотодобывающие и перерабатывающие вторичное
        сырье компании, инвесторы. Из этих категорий только предложение золотодобывающих и перерабатывающих вторичное
        сырье компаний может считаться сравнительно стабильным. Предложение со стороны центральных банков сильно зависит от экономической конъюнктуры, политической ситуации. Для инвесторов золото представляется «тихой гаванью», что не всегда соответствует действительности из-за воздействия центральных банков и других слабопрогнозируемых факторов.
    </p>
    <p>
        Правомерность употребления словосочетаний «курс золота» и «курс серебра» является дискуссионной.
        Еще встречаясь на практике, в научной сфере эти категории практически вышли из употребления и заменены словосочетаниями «цена золота» и «цена серебра».
    </p>
    <p>
        Представляется достаточно очевидным, что широта использования категории «курс» применительно к драгоценным металлам находится в прямой зависимости от степени демонетизации золота. Процесс демонетизации золота можно будет считать целиком завершенным, если золото перестанет полностью выполнять все функции денег – меры стоимости, средства обращения, средства платежа, средства накопления и мировых денег. И если первые 3 функции золото действительно сейчас перестало выполнять, то говорить о полной утрате последних двух не приходится.
        Данный тезис подтверждается существованием так называемых «учетных цен» на аффинированные драгоценные металлы, устанавливаемых центральными банками, ведь, как известно, официальные цены на иные материальные активы государствами с рыночной экономикой не устанавливаются. В связи с этим представляется, что категорию «курс золота» («курс серебра») считать полностью устаревшей нельзя.
        Применительно к драгоценным металлам понятие «курс» можно определить так: «курс – это цена драгоценного металла, выраженная в национальной денежной единице или денежной единице другой страны».
    </p>
</div>
<% end %>