<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    <%= yield_content :title %>
        <meta name="author" content="">
        <meta name="google-site-verification" content="526iHPvX7mcZ8vgUIBkOxeVColmGZmBHFZuNCiBXJmg" />
        <meta name="yandex-verification" content="eba6d82dd7d57700" />
        <!-- Mobile Specific Metas
   ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- CSS
   ================================================== -->
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/vendor.css">
        <link rel="stylesheet" href="/css/main.css">
        <!-- Modernizr
   =================================================== -->
        <script src="js/modernizr.js"></script>
        <!-- Favicons
   =================================================== -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- GA  
    ================================================== -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9597720483588091",
          enable_page_level_ads: true
     });
</script>
</head>

<body>
    <!--[if lt IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. 
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->
    <!-- content-wrap -->
    <div id="content-wrap">
        <!-----navbar-->
        <nav id="nav-wrap" style="display: block;" class="">        

         <ul id="nav" class="nav">
         <li class=""><a class="smoothscroll" href="/allcurr"><img src="/images/worldwide.png"></a></li>       
            <% @top_menu_symbols.each do |link| %>
            <% if link == "INR" %>
              <li class=""><a class="smoothscroll" href="/"><img src="/images/<%= link %>.png"></a></li>
            <% else %>
              <li class=""><a class="smoothscroll" href="/<%= link.downcase %>"><img src="/images/<%= link %>.png"></a></li>
            <% end %>
            <% end %>
                        
         </ul>       
      </nav>
        
        <!-- end #nav -->
        <!-- main  -->
        <main class="row">
            <div id="main-content" class="twelve columns">
                <%= yield_content :h1_block %>
                    <%= yield %>
            </div>
            <!-- /main-content form -->
            <div class="modal-toggles">
                <ul>
                    <li class="about-us"><a href="http://www.goldnp.com">goldnp.com</a></li>
                    <li class="location"><a href="http://lombardo.kz/reklama-na-sajte">Ваша реклама</a></li>
                </ul>
            </div>
            <div id="main-content" class="twelve columns">
            <p> Стоимость на золото фиксирует Лондонская биржа металлов, фиксация происходит ежедневно два раза в сутки. Фиксинг производят 5 членов золотого пула, которые за несколько минут определяют равновесную цену на золото, но фактическая цена может быть как больше, так и гораздо меньше в зависимости от человеческого фактора.
               </p>
            </div>
            <!-- /modal-toggles -->
        </main>
    </div>
    <!-- /content-wrap -->
    <footer class="group">
        <ul class="footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
        </ul>
        <ul class="footer-copyright">
            <li>&copy; Copyright 2017</li>
            <li><a href="/disclaimer">Отказ от гарантий</a>
                <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>
                <li>
                    <!-- Yandex.Metrika informer -->
                    <a href="https://metrika.yandex.ru/stat/?id=45574977&amp;from=informer" target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/45574977/1_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" class="ym-advanced-informer" data-cid="45574977" data-lang="ru" /></a>
                    <!-- /Yandex.Metrika informer -->
                    <!-- Yandex.Metrika counter -->
                    <script type="text/javascript">
                    (function(d, w, c) {
                        (w[c] = w[c] || []).push(function() {
                            try {
                                w.yaCounter45574977 = new Ya.Metrika({
                                    id: 45574977,
                                    clickmap: true,
                                    trackLinks: true,
                                    accurateTrackBounce: true
                                });
                            } catch (e) {}
                        });

                        var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function() { n.parentNode.insertBefore(s, n); };
                        s.type = "text/javascript";
                        s.async = true;
                        s.src = "https://mc.yandex.ru/metrika/watch.js";

                        if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else { f(); }
                    })(document, window, "yandex_metrika_callbacks");
                    </script>
                    <noscript>
                        <div><img src="https://mc.yandex.ru/watch/45574977" style="position:absolute; left:-9999px;" alt="" /></div>
                    </noscript>
                    <!-- /Yandex.Metrika counter -->
                </li>
        </ul>
    </footer>
    <!-- Script
=================================================== -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-34601690-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.placeholder.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>