<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!--- Basic Page Needs
   ================================================== -->
    <meta charset="utf-8">
    <%= yield_content :title %>
        <meta name="author" content="">
        <meta name="google-site-verification" content="526iHPvX7mcZ8vgUIBkOxeVColmGZmBHFZuNCiBXJmg" />
        <meta name="yandex-verification" content="eba6d82dd7d57700" />
        <!-- Mobile Specific Metas
   ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- CSS
   ================================================== -->
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/vendor.css">
        <link rel="stylesheet" href="/css/main.css">
        <!-- Modernizr
   =================================================== -->
        <script src="js/modernizr.js"></script>
        <!-- Favicons
   =================================================== -->
        <link rel="shortcut icon" href="favicon.ico">
        <!-- GA  
    ================================================== -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-9597720483588091",
          enable_page_level_ads: true
     });
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-103573440-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-103573440-2');
</script>


</head>

<body>
    <!--[if lt IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. 
    Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->
    <!-- content-wrap -->
    <div id="content-wrap">
        <!-----navbar-->
        <nav id="nav-wrap" style="display: block;" class="">        

         <ul id="nav" class="nav">
         <li class=""><a class="smoothscroll" href="/allcurr"><img src="/images/worldwide.png"></a></li>       
            <% @top_menu_symbols.each do |link| %>
            <% if link == "INR" %>
              <li class=""><a class="smoothscroll" href="/"><img src="/images/<%= link %>.png"></a></li>
            <% else %>
              <li class=""><a class="smoothscroll" href="/<%= link.downcase %>"><img src="/images/<%= link %>.png"></a></li>
            <% end %>
            <% end %>
                        
         </ul>       
      </nav>
        
        <!-- end #nav -->
        <!-- main  -->
        <main class="row">
            <div id="main-content" class="twelve columns">
                <%= yield_content :h1_block %>
                    <%= yield %>
            </div>
            <!-- /main-content form -->
            <div class="modal-toggles">
                <ul>
                    <li class="about-us"><a href="http://price.goldnp.com">Gold rate today</a></li>
                    <li class="location"><a href="http://ru.goldnp.com/allcurr">Другие страны</a></li>
                </ul>
            </div>

            <!-- useful content --->
            <%= yield_content :useful_content %>
            <!--- end of useful content --->
            
            <!-- /modal-toggles -->
        </main>
    </div>
    <!-- /content-wrap -->
    <footer class="group">
        <ul class="footer-social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a href="#"><i class="fa fa-skype"></i></a></li>
        </ul>
        <ul class="footer-copyright">
            <li>&copy; Copyright 2017 - 2020</li>
            <li><a href="/disclaimer">Отказ от гарантий</a>
            <li><a href="/policy">Политика конфиденциальности</a>
            <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>                
        </ul>
    </footer>
    <!-- Script
=================================================== -->
    
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/jquery.placeholder.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>