
               <div id="counter" class="group">
                  <span>585<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.585") %><em><%= @price.fetch('url') %></em></span>                  
               </div>   
               <div id="counter" class="group">
                  <span>750<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.75")%><em><%= @price.fetch('url') %></em></span>                 
               </div>
               <div id="counter" class="group">
                  <span>375<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.375") %><em><%= @price.fetch('url') %></em></span>                 
               </div> 
               <div id="counter" class="group">
                  <span>916<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.916") %> <em><%= @price.fetch('url') %></em></span>                 
               </div> 
               <div id="counter" class="group">
                  <span>999<em>проба</em></span> 
                  <span><em>-</em></span> 
                  <span><%= @price.fetch("0.999") %><em><%= @price.fetch('url') %></em></span>                 
               </div>        
               
          