<% content_for :title do %>
<title>Цена на серебро в
<%= @metatag[:meta_country].first %> сегодня
<%= @today.strftime("%d-%m-%Y")%>
</title>
<meta name="description" content="Сколько сегодня стоит 1 грамм серебра в <%= @metatag[:meta_currency].first %>. Цена на рынке <%= @metatag[:meta_country][1] %>. Мировая цена на серебро за 1 грамм, унцию или один килограмм <%= @today.strftime(" %d-%m-%Y ")%>.">
<% end %>
<% content_for :h1_block do %>
<h1><%= @metatag[:h1_silver_text].first%> </h1>
<p> <%= @metatag[:h1_today].first %> <%= @today.strftime("%d-%m-%Y")%>. <%= @metatag[:h1_silverprice].first %> - (
    <%= @price.fetch('silver_value')%> USD). <%= @metatag[:h1_usd].first %> - (
    <%= @price.fetch('currency') %>
<%= @url %>). <%= @metatag[:h1_price].first %>  </p>
<h2>Цена серебра в <%= @metatag[:meta_country].first %></h2>
<p>Сегодня <%= @today.strftime("%d-%m-%Y")%>. Цена 1 тройской унции серебра(
    <%= @price.fetch('silver_value')%> USD) и курс доллара (
    <%= @price.fetch('currency') %> <%= @url %>). Все цены указаны в <%= @metatag[:meta_currency].first %> </p>
<hr>
<% end %>
<div id="counter" class="group">
    <span>1 g <em>грамм</em></span>
    <span><em>-</em></span>
    <span><%= @price.fetch('silver_1') %><em><%= @url %></em></span>
</div>
<div id="counter" class="group">
    <span>1 kg<em>килограмм</em></span>
    <span><em>-</em></span>
    <span><%= @price.fetch("silver_1000")%><em><%= @url %></em></span>
</div>
<div id="counter" class="group">
    <span>1 oz<em>унция</em></span>
    <span><em>-</em></span>
    <span><%= @price.fetch("silver_31.1035")%><em><%= @url %></em></span>
</div>

<div>    
    <!-- gold_lombardo_adapt -->    
</div>

<% content_for :metal_menu do %>

<ul>
    <li class="about-us"><a href="/<%= @url.downcase %>">Золото</a></li>
    <li class="about-us"><a href="http://price.goldnp.com">Gold rate today</a></li>    
    
</ul>


<ul>
    <li class="location"><a href="http://ru.goldnp.com/allcurr">Другие страны</a></li>
    <li class="email-us"><a href="/contact">Контакт</a></li>
</ul>

<% end %>

<% content_for :useful_content do %>
<div id="blog-content">
    <p>
        Серебро добывают главным образом пирометаллургическим путём при плавке свинцовых и медных концентратов. Серебро концентрируется в слитках основных металлов. Из черновой меди его извлекают в процессе электролитического рафинирования. Из чернового свинца (так называемого веркблея) серебро извлекают с помощью цинка. К расплавленному серебросодержащему свинцу добавляют цинк, который образует при расплавлении отдельный слой (температура плавления чернового свинца 450о и несколько выше, чем цинка 419о).
    </p>
    <p> Серебро в условиях товарного производства выполняло функцию всеобщего эквивалента наряду с золотом и приобрело, как и последнее, особую потребительную стоимость - стало деньгами. Товарный мир выделил серебро в качестве денег потому, что оно обладает важными для денежных товаров свойствами: однородностью, делимостью, сохраняемостью, портативностью (высокой стоимостью при небольших объёме и массе), легко поддаётся обработке. Первоначально серебро обращалось в форме слитков.
    </p>
</div>
<% end %>